<!DOCTYPE html>
<meta name="robots" content="noindex">
<html>
<head>
  <meta charset="utf-8">
  <title>layout</title>
<style id="jsbin-css">
#head{
  height:60px;
  background:#ccc;
}

#content:after{
  content:"";
  display:block;
  clear:both;
}



.wrap{
  float:left;
}

.main{
  background:pink;
  margin-left:120px;
  margin-right:120px;
}

.lfside{
  float:left;
  width:100px;
  height:200px;
  background:red;
  margin-left:-100%;
}

.rgside{
  float:left;
  width:100px;
  height:190px;
  background:yellow;
  margin-left:-100px;
}



#footer{
  height:30px;
  background:gold;
}
</style>
</head>
<body>
<div id="head">head</div>
<div id="content">
  <div class="wrap">
      <div class="main">
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
        双飞翼布局，main区域通过margin设置居中，左右边栏设置负margin确定其位置。当main区域中的元素宽度改变或改变窗口大小时，main区域自动变化。
      </div>
  </div>
  <div class="lfside">leftside</div>
  <div class="rgside">rightside</div>
</div>
<div id="footer">footer</div>
</body>
</html>